


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/googlebtn.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  
  <title>Login</title>
</head>
<body>
  <br><br><br>
 <center>
  <div class="BOX">
  <div class="parent">
  <h1 class="login">Login Page</h1>
  <hr><br>
  <form>
    <input  class="name" type="text" placeholder="Enter Your Name"><br><br>
    <input  class="name" type="text" placeholder="Enter Your E-mail"><br><br>
    
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Names
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        
        <li class="dropdown-submenu">
          <a class="test" tabindex="-1" href="#">Name X <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Name A</a></li>
            <li><a tabindex="-1" href="#">Name B</a></li>
            <li><a tabindex="-1" href="#">Name C</a></li>
            
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="#">Name Y <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">Name K</a></li>
                <li><a tabindex="-1" href="#">Name L</a></li>
                <li><a tabindex="-1" href="#">Name M</a></li>
                
                  </ul>
                </li>
          </ul>
        </li>
      </ul>
    </div><br>
    <input class="submit" type="submit">

  </form>
</div>
<br>
  <h1 class="login">OR</h1>

  <br>


  {% load socialaccount %}
<html>
<body>

{% if user.is_authenticated %}
  <p>Welcome, You are logged in as <h2 class="user"> {{ user.username }} </h2></p>
  <div  class="logout"><h3><a href="http://127.0.0.1:8000/logout/">Logout</a></div>
  </h3>
{% else %}
  <a href="{% provider_login_url 'google' %}"><img src="/static/img/googlebtn.png"></a>
  
{% endif %}

</body>
</html>
</div>
</center>
<br><br><br>

 <script>
  $(document).ready(function(){
    $('.dropdown-submenu a.test').on("click", function(e){
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
  </script>
</body>
</html>