body{

    background-image: url("images/bg.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.parent{
    
    position: relative;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}

.text{
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
    position: absolute;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 15%;
    text-shadow: 6px 6px 9px black;
    
}

h5{
    font-family: 'Sofia Sans', sans-serif;
    position: absolute;
    color: rgb(255, 255, 255);
    margin-bottom: 9%;
    text-shadow: 6px 8px 9px black;

}

.sign-up{

    font-family: 'Sofia Sans', sans-serif;
    margin: 5px;
    height: 13vh;
    transition: 0.3s ease-in-out;
    width: 30%;
    background: palevioletred;
    margin-top: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bolder;
    
}

.sign-up:hover{
    margin: 5px;
    height: 15vh;
    width: 30%;
    background: palevioletred;
    margin-top: 20%;
    
}

.login{
    font-family: 'Sofia Sans', sans-serif;
    margin: 5px;
    height: 13vh;
    width: 30%;
    background: rgb(167, 40, 226);
    transition: 0.3s ease-in-out;
    margin-top: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    
    
}
.login:hover{
    margin: 5px;
    height: 15vh;
    width: 30%;
    background: rgb(167, 40, 226);
    margin-top: 20%;
}