body{

  background-image: url("/static/img/bg.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  
}

.BOX{
  height: fit-content;
  width: fit-content;
  background-color: blueviolet;
  padding: 40px;
  border: 10px black;
  border-radius: 10px;
}

p{
  color: beige;
}

.login{
  color: rgb(255, 0, 0);
  font-family: cursive;
  font-weight: bolder;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.submit{
  height: 40px;
  width: 140px;
  background-color: aliceblue;
  font-size: larger;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.name{
  height: 30px;
  border-radius: 4px;
  border: 2px black;
}
#customBtn {
  display: inline-block;
  background: white;
  color: rgb(255, 255, 255);
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url('/static/img/googlebtn.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

.image{
  height: 40px;
  width: 30%;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
  color: black;
}
