<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/"crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>The Data Company</title>
</head>
<body>
    <nav>

    </nav>
    <div class="parent"> 
    <!-- Title -->
    <div class="text">The Data Company</div>
    <h5><i>by Karan Agarwal</i></h5>
    <!-- Div for Login Page  -->
    <div class="sign-up"><a href="signup.html">Sign-Up</a></div>
    <!-- Div for Sign-Up Page  -->
    <div class="login"><a href="login.html">Login</a></div>
    
    </div>
</body>
</html>